:root {
    --color-text: #22193F;
    --color-secondary: #E8E8E8;
    --color-primary: #E21982;
    /*   --color-background: #ffffff;
    --color-secondary-dar: #191B1D;
    --color-primary-hover: rgba(102, 51, 153, 0.404);
     */
}